{% block sidebar %}



    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right text-right">
        <div class="card my-4">
            <h5 class="card-header">درباره من</h5>
            <div class="card-body">
                <p class="card-text"> این وبلاگ فوق‌العاده با فریم ورک جنگوی ساخته شده است. 
                    آموزش ها را دنبال کنید تا یاد بگیرید که چگونه آن را ساخته ایم.</p>
                    <p class="card-text">طراحی و توسعه : محمد صالح خسروی</p>
                <a href="https://github.com/mohamadSaleh82" target="_blank" class="btn btn-danger">بیشتر بدانید</a>
            </div>
        </div>
    </div>

{% endblock sidebar %}
